@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@400;700&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

input {
  width: 80%;
  padding: 1rem;
}

body {
  background-color: #7c3aed;
}
